html, body {
  background-color: rgb(212, 212, 211);
  height: 100%;
  color: black;
}
.header {
  padding: 60px;
  background-image: url(../img/space.jpg);
  text-align: center;
  color: white;
  font-size: 30px;
}
.container {
  padding: 30px;
  height: 100%;
}
.hello {
  text-align: center;
}
p {
  font-weight: bold;
}
.csharp {
  display: none;
}
.javascript {
  display: none;
}
.swift {
  display: none;
}
.answer {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
}
img {
  width: 20%;
}
