.header {
  padding: 60px;
  text-align: center;
  background: teal;
  color: white;
  font-size: 30px;
}





.csharp {
  display: none;
}
.javascript {
  display: none;
}
.swift {
  display: none;
}
